body, html {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
  }
  
body {
    /* The image used */
    background-image: url("/header.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  hr{
      max-width: 100px;
      border-width: 4px;
      border-color: #BB2124;

  }

  .buffer{
      height: 10px;
  }



h1{
     
      color: #E4E4E4;
      font-size: 3rem;
      text-transform: uppercase;
  }
/* text inside the box and border radius*/
  .btn{
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 250px;

}
.btn-success{
 background-color: #BB2124;
 border-color: #BB2124;

}

.btn-success:hover{
    background-color: #ee0e0e9f;
    border-color: #BB2124;
    

}

.btn-xl{
    padding: 1rem 2rem; 
}

 /* color: #e2dbdb; */

